<?xml version="1.0"?>
<!--
Variables:
    * JS Snippet Key
    * REST API Key
    * REST API Key
    * Automatic Comment Creation
    * Fraud Threshold
    * Include Billing Address Info
    * Include Shipping Address Info
-->
<config>
    <tabs>
        <aloaudio_siftscience_tab translate="label" module="aloaudio_siftscience">
            <label>SiftScience</label>
            <sort_order>100</sort_order>
        </aloaudio_siftscience_tab>
    </tabs>

    <sections>
        <siftscience_options translate="label" module="aloaudio_siftscience">
            <label>SiftScience Options</label>
            <tab>aloaudio_siftscience_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>

                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <enable>
                            <label>Enable</label>
                            <comment>Enable SiftScience Fraud Tracking</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>

                        <rest_api_key>
                            <label>REST API Key</label>
                           <comment><![CDATA[Visit <a href="https://siftscience.com/customer" target="_blank">https://siftscience.com/customer</a> for your API Keys.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rest_api_key>

                        <js_snippet_key>
                            <label>JS Snippet Key</label>
                            <comment><![CDATA[<b>Do not use REST Key!</b> This is visible on the frontend!]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </js_snippet_key>

                        <comment_creation>
                            <label>Automatic Comment Creation</label>
                            <comment><![CDATA[Create a backend order comment with risk score. Good for 3rd-party filters.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </comment_creation>

                        <fraud_threshold>
                            <label>Fraud Threshold</label>
                           <comment><![CDATA[A Sift score above this level will trigger a fraud risk comment to be appended to the order history. Choose a number from 1-100.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fraud_threshold>

                        <include_billing>
                            <label>Include Billing Address Info</label>
                            <comment><![CDATA[Include billing address info in data sent to the Sift API.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_billing>

                        <include_shipping>
                            <label>Include Shipping Address Info</label>
                            <comment><![CDATA[Include shipping address info in data sent to the Sift API.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_shipping>

                    </fields>

                </general>
            </groups>
        </siftscience_options>
    </sections>

</config>
